*,:after,:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
    
.desktop
{
    position:relative;
    overflow:hidden;
    font-family: "微软雅黑";
    font-size: 14px;
}

.desktop-viewport
{
    position:absolute;
    top:0;
    left:0;
    bottom:50px;
    right:0;
    /* overflow:hidden; */
    z-index:190;
}

.desktop-toolbar
{
    position:absolute;
    height:50px;
    left:0;
    bottom:0;
    right:0;
    overflow:hidden;
    background-color:rgba(33,43,54,.5);
    z-index:200;
}

.desktop-background
{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:150;
}


.desktop-startbutton
{
    position:absolute;
    left:0;
    top:0;
    width: 55px;
    height:100%;
    background:  url(../images/start.png) no-repeat 40% 50%;
    background-size:90% 80%;
}

.desktop-startbutton:hover{
    background-image: url(../images/start2.png);
}

.desktop-searchbar
{
    position:absolute;
    left:65px;
    top:0;
    width: 300px;
    height:100%;   
    background: #000;
    opacity: 0.5; 
}

.desktop-timebar
{
    position:absolute;
    right:0;
    top:0;
    width:100px;
    height:100%;  
    background: #000;
    opacity: 0.5;
}
.desktop-timebar>div{
    height:50%;
    color: #fff;
    text-align: center;
    cursor: default;
    line-height: 25px;
}
.desktop-taskbar
{
    position:absolute;
    left:365px;
    right:100px;
    top:0;
    height:100%;
    overflow:hidden;
}

.desktop-icon-wrapper
{
    position:relative;
    z-index:100;
    width: 100%;
    height: 100%;
}

.desktop-icon
{
    position:absolute;
    width:80px;
    height:90px;
    margin:5px;
    border:solid 1px transparent;
    border-radius:4px;
    overflow:hidden;
    cursor: pointer;
    user-select: none;
}

.desktop-icon:hover
{
    border-color:rgba(171,203,242, 0.5);
    background-color:rgba(220,227,235, 0.15);
}

.desktop-icon-image
{
    width:95%;
    height:64px;
    overflow:hidden;
}
.desktop-icon-text
{
    /* font-weight:bold; */
    color:White;
    text-align:center;
}


.desktop-taskbar-icon
{
    position:relative;
    height: 100%;
    padding: 0px 5px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    line-height: 43px;
    margin:0px 2px;  
    min-width:20px;
    float:left;

}

.desktop-taskbar-icon.desktop-window-active
{
    background: rgba(163, 163, 163, 0.3);    
}

.desktop-taskbar-icon > i
{
    width:60px;
    height:50px;
    text-align: center;
    line-height: 50px;   
    font-size: 25px;
}




/* startmenu */

.start-menu{
    position: fixed;
    left: 0px;
    height: 100%;
    z-index: 1000;
    bottom: 50px;
    width: 820px;

    background: rgba(0,0,0,.8);
    max-height:43em;
    font-size: 14px;
    display: none;
    flex-direction: row;
}
.start-menu.active{
    display:flex;
    display: -webkit-flex; /* Safari */
    animation: fade-and-slide .4s;
    -moz-animation: fade-and-slide .4s;	/* Firefox */
    -webkit-animation: fade-and-slide .4s;	/* Safari 和 Chrome */
    -o-animation: fade-and-slide .4s;	/* Opera */
}
.start-menu.active .sidebar {
    position: relative;
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-direction: column;
    height: 100%;
    width: 25em;
    padding:2em 0px;
    color: white;
    animation: .4s fade-and-slide;
    flex-grow: 0;
}
.start-menu.active .appview {
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-direction:column;
    flex-wrap: wrap;
    align-content: space-around;
    margin: auto;
    padding-top: .9em;
    padding-bottom: 1em;
    padding-left: 1em;
    height: 90%;
    width: 100%;
    overflow: auto;
    animation: .4s fade-and-slide;
}
@keyframes fade-and-slide{
    0%{
        transform: translateY(5em);
        opacity:0.1;
    }
    100%{
        opacity:1
    }
}
@-webkit-keyframes fade-and-slide{ /* Safari and Chrome */
    0%{
        transform: translateY(5em);
        opacity:0.1;
    }
    100%{
        opacity:1
    }
}

.sidebarButton {
    display: flex;
    display: -webkit-flex; /* Safari */
    height: 3em;
    line-height: 3em;
    cursor: default;
    font-size: 15px;
}
.sidebarButton:hover{
    background: rgb(108, 104, 108)
}
.sidebarButton i{
    height: 100%;
    width: 45px;
    text-align: center;
    line-height: 45px;
    font-size: 28px;
    margin-left: 10px;
}
.appHolder {
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-wrap: wrap;
    max-width: 19.2em;
}
.appSection{
    z-index: 5;
}
.appSection p{
    color: #fff;
    margin-left: 1.5em;
    font-size: 15px;
    cursor: default;
}
.appSection .app{
    height: 6em;
    width: 6em;
    margin: .2em;
    background: dodgerblue;
    list-style: none;
    text-align: center;
    color: white;
    border: 2px solid dodgerblue;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.appSection .app.big{
    width: 12.4em;
    flex-direction: row;
    line-height: 80px;
    
}
.appSection .app:hover{
    border: 2px solid #fff;
}
.app i{
    line-height: 45px;
    font-size: 30px;
}
.app span{
    font-size: 16px;
    
}
.app.big i{
    line-height: 80px;
    margin-left: 30px;
    margin-right: 10px;
}